Django==3.1.1
mysqlclient==2.1.0
django-mysql==3.8.1
Pillow==9.2.0
gunicorn==20.1.0
psycopg2-binary==2.9.1
tornado==6.1
python-telegram-bot
openpyxl==3.1.2
pyTelegramBotAPI==4.11.0
celery==5.2.7
django-crontab==0.7.1
PySocks==1.7.1
django-cron
django-admin-rangefilter==0.10.0
redis==4.5.5
python-crontab==2.7.1
django-admin-rangefilter
django-celery-beat==2.2.1
